infra/nodered/data/.flows.json.backup
[
    {
        "id": "6f27748f8640a0c6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab_greenhouse_v01",
        "type": "tab",
        "label": "Greenhouse v0.1 (Sim + Rules)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "543f4ba6265dcfb2",
        "type": "tab",
        "label": "🌱 Greenhouse IoT",
        "disabled": false,
        "info": "Sistema de invernadero inteligente"
    },
    {
        "id": "f4d1039b513810a4",
        "type": "tab",
        "label": "Flujo prueba",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a35c9c592e34af5",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "5754e58ec0417929",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1ec73deaf6bc3dc1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "3a35c9c592e34af5",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5754e58ec0417929",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4a65c87333bbbcb6",
        "type": "ui-group",
        "name": "Histórico",
        "page": "",
        "width": "12",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "65d64ac6f6906bf9",
        "type": "ui-group",
        "name": "Alertas",
        "page": "",
        "width": "12",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8ce56bd18eca7df1",
        "type": "ui-group",
        "name": "Control",
        "page": "",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "34856bdb569caf69",
        "type": "ui-group",
        "name": "Sensores (Live)",
        "page": "",
        "width": "12",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui_theme_greenhouse",
        "type": "ui-theme",
        "name": "Greenhouse Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#2e7d32",
            "bgPage": "#e8f5e9",
            "groupBg": "#ffffff",
            "groupOutline": "#a5d6a7"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ui_page_main",
        "type": "ui-page",
        "name": "🌱 Invernadero",
        "ui": "3a35c9c592e34af5",
        "path": "/greenhouse",
        "icon": "mdi-sprout",
        "layout": "grid",
        "theme": "ui_theme_greenhouse",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_page_history",
        "type": "ui-page",
        "name": "📊 Histórico",
        "ui": "3a35c9c592e34af5",
        "path": "/history",
        "icon": "mdi-chart-line",
        "layout": "grid",
        "theme": "ui_theme_greenhouse",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_group_sensors",
        "type": "ui-group",
        "name": "📡 Sensores en Vivo",
        "page": "ui_page_main",
        "width": "6",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui_group_status",
        "type": "ui-group",
        "name": "⚡ Estado del Sistema",
        "page": "ui_page_main",
        "width": "6",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui_group_alerts",
        "type": "ui-group",
        "name": "🚨 Alertas",
        "page": "ui_page_main",
        "width": "12",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui_group_charts",
        "type": "ui-group",
        "name": "📈 Histórico (últimas 2h)",
        "page": "ui_page_history",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "telegram_bot_config",
        "type": "telegram bot",
        "botname": "GreenhouseBot",
        "usernames": "",
        "chatids": "7906886061",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "dcc2accf755af92f",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-greenhouse",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d25f1496e18e793",
        "type": "ui-theme",
        "name": "Green Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#2e7d32",
            "bgPage": "#e8f5e9",
            "groupBg": "#ffffff",
            "groupOutline": "#a5d6a7"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "widgetGap": "12px",
            "groupBorderRadius": "8px"
        }
    },
    {
        "id": "4e887e2ea2936515",
        "type": "ui-page",
        "name": "Invernadero",
        "ui": "3a35c9c592e34af5",
        "path": "/",
        "icon": "home",
        "layout": "grid",
        "theme": "5d25f1496e18e793",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1
    },
    {
        "id": "46ea805ba01866be",
        "type": "mqtt out",
        "z": "6f27748f8640a0c6",
        "name": "",
        "topic": "greenhouse/node3/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "e81f039175c0e0e1",
        "type": "inject",
        "z": "6f27748f8640a0c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"lux\": 250, \"ts\": 1730000000}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "46ea805ba01866be"
            ]
        ]
    },
    {
        "id": "inj_tick",
        "type": "inject",
        "z": "tab_greenhouse_v01",
        "name": "Sim tick (cada 15s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 370,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_out_tele",
        "type": "mqtt out",
        "z": "tab_greenhouse_v01",
        "name": "Publish telemetry",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 850,
        "y": 370,
        "wires": []
    },
    {
        "id": "mqtt_in_tele",
        "type": "mqtt in",
        "z": "tab_greenhouse_v01",
        "name": "Sub telemetría",
        "topic": "greenhouse/+/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "fn_store_last",
                "dbg_tele"
            ]
        ]
    },
    {
        "id": "fn_store_last",
        "type": "function",
        "z": "tab_greenhouse_v01",
        "name": "Guardar últimas muestras",
        "func": "const node = msg.topic.split('/')[1];\nflow.set('last_'+node, msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "fn_rules"
            ]
        ]
    },
    {
        "id": "fn_rules",
        "type": "function",
        "z": "tab_greenhouse_v01",
        "name": "Reglas AUTO (riego/luz) + alertas",
        "func": "const ts = Date.now();\n\n// Decisiones v0.1 (ajustables luego con el equipo)\nconst SOIL_DRY  = 30;\nconst TANK_LOW  = 15;\nconst LIGHT_LOW = 300;\n\n// Modo (por defecto AUTO)\nconst mode = flow.get('mode') || 'AUTO';\n\nconst soil  = (flow.get('last_node2')||{}).soil;\nconst tank  = (flow.get('last_node4')||{}).tank;\nconst light = (flow.get('last_node3')||{}).light;\n\nlet out = [];\nif(mode === 'AUTO'){\n  // RIEGO\n  if(typeof soil === 'number' && typeof tank === 'number'){\n    if(soil < SOIL_DRY && tank > TANK_LOW){\n      out.push({\n        topic:'greenhouse/node5/cmd/irrigation',\n        payload:{ts, state:'ON', duration_s:10, reason:'soil_low', source:'nodered'}\n      });\n    } else if(soil < SOIL_DRY && tank <= TANK_LOW){\n      out.push({\n        topic:'greenhouse/alerts',\n        payload:{ts, level:'WARN', msg:'Suelo seco pero tanque bajo: no se riega', context:{soil, tank}}\n      });\n    }\n  }\n\n  // LUZ\n  if(typeof light === 'number'){\n    if(light < LIGHT_LOW){\n      out.push({\n        topic:'greenhouse/node5/cmd/light',\n        payload:{ts, state:'ON', reason:'low_light', source:'nodered'}\n      });\n    }\n  }\n}\n\nreturn [out.length ? out : null];",
        "outputs": 1,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "mqtt_out_cmds",
                "dbg_cmds"
            ]
        ]
    },
    {
        "id": "mqtt_out_cmds",
        "type": "mqtt out",
        "z": "tab_greenhouse_v01",
        "name": "Publish CMDs / alerts",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "dbg_tele",
        "type": "debug",
        "z": "tab_greenhouse_v01",
        "name": "telemetry (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 530,
        "wires": []
    },
    {
        "id": "dbg_cmds",
        "type": "debug",
        "z": "tab_greenhouse_v01",
        "name": "cmd/alerts (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 520,
        "wires": []
    },
    {
        "id": "a2189d9d1c1be7aa",
        "type": "inject",
        "z": "tab_greenhouse_v01",
        "name": "suelo seco",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"ts\":0,\"soil\":20,\"unit\":\"%\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "aa67989a19ae3e37"
            ]
        ]
    },
    {
        "id": "66dfed3102b20e3b",
        "type": "inject",
        "z": "tab_greenhouse_v01",
        "name": "tanque OK",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"ts\":0,\"tank\":60,\"unit\":\"%\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "6913752f0ae49411"
            ]
        ]
    },
    {
        "id": "aa67989a19ae3e37",
        "type": "mqtt out",
        "z": "tab_greenhouse_v01",
        "name": "",
        "topic": "greenhouse/node4/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "6913752f0ae49411",
        "type": "mqtt out",
        "z": "tab_greenhouse_v01",
        "name": "",
        "topic": "greenhouse/node2/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "ba90a6e410226246",
        "type": "inject",
        "z": "tab_greenhouse_v01",
        "name": "poca luz",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"ts\":0,\"light\":100,\"unit\":\"adc\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "0201aaf27dedb361"
            ]
        ]
    },
    {
        "id": "0201aaf27dedb361",
        "type": "mqtt out",
        "z": "tab_greenhouse_v01",
        "name": "",
        "topic": "greenhouse/node3/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "e71fe38602b1502a",
        "type": "comment",
        "z": "543f4ba6265dcfb2",
        "name": "══════════ 🧪 SIMULADOR ══════════",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "522bba5dd5a58c6c",
        "type": "inject",
        "z": "543f4ba6265dcfb2",
        "name": "⏱️ Cada 15s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "c137c81b10d60f38"
            ]
        ]
    },
    {
        "id": "c137c81b10d60f38",
        "type": "function",
        "z": "543f4ba6265dcfb2",
        "name": "🎲 Generar Datos",
        "func": "const ts = Date.now();\n\nfunction clamp(v, min, max) {\n    return Math.max(min, Math.min(max, v));\n}\n\nfunction jitter(base, delta) {\n    return base + (Math.random() * 2 - 1) * delta;\n}\n\n// Redondear valores\nconst temp = Math.round(clamp(jitter(24, 4), 15, 40) * 10) / 10;\nconst hum = Math.round(clamp(jitter(55, 15), 20, 90) * 10) / 10;\nconst soil = Math.round(clamp(jitter(45, 25), 0, 100) * 10) / 10;\nconst light = Math.round(clamp(jitter(500, 350), 0, 1023));\nconst tank = Math.round(clamp(jitter(60, 30), 0, 100));\n\nconst msgs = [\n    { topic: \"greenhouse/node1/telemetry\", payload: { ts, type: \"temp\", value: temp } },\n    { topic: \"greenhouse/node1/telemetry\", payload: { ts, type: \"hum\", value: hum } },\n    { topic: \"greenhouse/node2/telemetry\", payload: { ts, type: \"soil\", value: soil } },\n    { topic: \"greenhouse/node3/telemetry\", payload: { ts, type: \"light\", value: light } },\n    { topic: \"greenhouse/node4/telemetry\", payload: { ts, type: \"tank\", value: tank } }\n];\n\nreturn [msgs];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "e6b184013764cd40"
            ]
        ]
    },
    {
        "id": "e6b184013764cd40",
        "type": "mqtt out",
        "z": "543f4ba6265dcfb2",
        "name": "📤 Publish",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "dcc2accf755af92f",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "13e8f1cc0f26f70c",
        "type": "comment",
        "z": "543f4ba6265dcfb2",
        "name": "══════════ 📥 ENTRADA MQTT ══════════",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "909b38766d25e9b8",
        "type": "debug",
        "z": "543f4ba6265dcfb2",
        "name": "telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 300,
        "wires": []
    },
    {
        "id": "4801934cc21ea1d2",
        "type": "function",
        "z": "543f4ba6265dcfb2",
        "name": "🔄 Parse + Store",
        "func": "const p = msg.payload;\nif (!p || !p.type) return null;\n\n// Guardar último valor\nflow.set(`last_${p.type}`, { ts: p.ts, value: p.value });\n\n// Preparar para gauges (solo valor)\nmsg.payload = p.value;\nmsg.sensorType = p.type;\nmsg.timestamp = p.ts;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "8b8618ebdf71cb4d",
                "cdba7ae694a5bbf4",
                "9b567363453a2073"
            ]
        ]
    },
    {
        "id": "8b8618ebdf71cb4d",
        "type": "switch",
        "z": "543f4ba6265dcfb2",
        "name": "🔀 Tipo",
        "property": "sensorType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hum",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tank",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "f2430b58c3984a21",
                "5af8a6b42253cede"
            ],
            [
                "bf438864b85b49e4",
                "00437a6c21370b11"
            ],
            [
                "6b8d9fe304ed6c51",
                "87f5a52d80c9b1b3"
            ],
            [
                "f725d430bc012293",
                "a2d4b80b8c858b47"
            ],
            [
                "f007abb55072ed03",
                "2a8ee0ea55a42c7a"
            ]
        ]
    },
    {
        "id": "f2430b58c3984a21",
        "type": "ui-gauge",
        "z": "543f4ba6265dcfb2",
        "name": "🌡️ Temp",
        "group": "ui_group_sensors",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#2196f3",
                "text": "",
                "textType": "label"
            },
            {
                "from": "18",
                "color": "#4caf50",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ff9800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "38",
                "color": "#f44336",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": "",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bf438864b85b49e4",
        "type": "ui-gauge",
        "z": "543f4ba6265dcfb2",
        "name": "💧 Hum",
        "group": "ui_group_sensors",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad Amb",
        "units": "%",
        "segments": [
            {
                "from": "0",
                "color": "#ff9800"
            },
            {
                "from": "30",
                "color": "#4caf50"
            },
            {
                "from": "70",
                "color": "#2196f3"
            }
        ],
        "min": 0,
        "max": "100",
        "x": 750,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "6b8d9fe304ed6c51",
        "type": "ui-gauge",
        "z": "543f4ba6265dcfb2",
        "name": "🌱 Soil",
        "group": "ui_group_sensors",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad Suelo",
        "units": "%",
        "segments": [
            {
                "from": "0",
                "color": "#f44336"
            },
            {
                "from": "30",
                "color": "#ff9800"
            },
            {
                "from": "50",
                "color": "#4caf50"
            }
        ],
        "min": 0,
        "max": "100",
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f725d430bc012293",
        "type": "ui-gauge",
        "z": "543f4ba6265dcfb2",
        "name": "☀️ Light",
        "group": "ui_group_sensors",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Luz",
        "units": "ADC",
        "segments": [
            {
                "from": "0",
                "color": "#37474f"
            },
            {
                "from": "300",
                "color": "#ffeb3b"
            },
            {
                "from": "700",
                "color": "#fff59d"
            }
        ],
        "min": 0,
        "max": "1023",
        "x": 750,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "f007abb55072ed03",
        "type": "ui-gauge",
        "z": "543f4ba6265dcfb2",
        "name": "🪣 Tank",
        "group": "ui_group_sensors",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "Tanque",
        "units": "%",
        "segments": [
            {
                "from": "0",
                "color": "#f44336"
            },
            {
                "from": "20",
                "color": "#ff9800"
            },
            {
                "from": "40",
                "color": "#2196f3"
            }
        ],
        "min": 0,
        "max": "100",
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5af8a6b42253cede",
        "type": "ui-chart",
        "z": "543f4ba6265dcfb2",
        "group": "ui_group_charts",
        "name": "📈 Temp",
        "label": "Temperatura",
        "order": 1,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "°C",
        "ymin": "0",
        "ymax": "50",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#f44336"
        ],
        "width": 4,
        "height": 4,
        "x": 930,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "00437a6c21370b11",
        "type": "ui-chart",
        "z": "543f4ba6265dcfb2",
        "group": "ui_group_charts",
        "name": "📈 Hum",
        "label": "Humedad",
        "order": 2,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "%",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#2196f3"
        ],
        "width": 4,
        "height": 4,
        "x": 930,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "87f5a52d80c9b1b3",
        "type": "ui-chart",
        "z": "543f4ba6265dcfb2",
        "group": "ui_group_charts",
        "name": "📈 Soil",
        "label": "Suelo",
        "order": 3,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "%",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#795548"
        ],
        "width": 4,
        "height": 4,
        "x": 930,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a2d4b80b8c858b47",
        "type": "ui-chart",
        "z": "543f4ba6265dcfb2",
        "group": "ui_group_charts",
        "name": "📈 Light",
        "label": "Luz",
        "order": 4,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "ADC",
        "ymin": "0",
        "ymax": "1023",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#ffc107"
        ],
        "width": 4,
        "height": 4,
        "x": 930,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "2a8ee0ea55a42c7a",
        "type": "ui-chart",
        "z": "543f4ba6265dcfb2",
        "group": "ui_group_charts",
        "name": "📈 Tank",
        "label": "Tanque",
        "order": 5,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "%",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#00bcd4"
        ],
        "width": 4,
        "height": 4,
        "x": 930,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "daaf0b0bf0536d13",
        "type": "comment",
        "z": "543f4ba6265dcfb2",
        "name": "══════════ 🧠 REGLAS ══════════",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b567363453a2073",
        "type": "function",
        "z": "543f4ba6265dcfb2",
        "name": "🧠 Reglas Auto",
        "func": "const now = Date.now();\n\n// Umbrales\nconst SOIL_DRY = 30;\nconst SOIL_OK = 50;\nconst LIGHT_LOW = 250;\nconst LIGHT_OK = 400;\nconst TANK_LOW = 15;\nconst TANK_WARN = 25;\nconst TEMP_HIGH = 35;\n\n// Cooldowns (ms)\nconst CD_ACTION = 60000;\nconst CD_ALERT = 120000;\n\n// Helpers\nfunction last(type) {\n    const v = flow.get(`last_${type}`);\n    return v ? v.value : null;\n}\n\nfunction canFire(key, cd) {\n    const lastTs = flow.get(key) || 0;\n    if (now - lastTs >= cd) {\n        flow.set(key, now);\n        return true;\n    }\n    return false;\n}\n\n// Estado\nlet irrigOn = flow.get(\"irrigationOn\") || false;\nlet lightOn = flow.get(\"lightOn\") || false;\n\n// Lecturas\nconst soil = last(\"soil\");\nconst tank = last(\"tank\");\nconst light = last(\"light\");\nconst temp = last(\"temp\");\n\nconst actions = [];\nconst alerts = [];\n\n// Regla 1: Riego\nif (soil !== null) {\n    if (soil < SOIL_DRY && !irrigOn) {\n        if (tank !== null && tank <= TANK_LOW) {\n            if (canFire(\"cd_nowater\", CD_ALERT)) {\n                alerts.push({ level: \"CRIT\", title: \"🚨 SIN AGUA\", msg: `Suelo seco (${soil}%) pero tanque vacío (${tank}%)` });\n            }\n        } else if (canFire(\"cd_irrig_on\", CD_ACTION)) {\n            irrigOn = true;\n            flow.set(\"irrigationOn\", true);\n            actions.push({ action: \"irrigation\", state: \"ON\", soil, tank });\n            alerts.push({ level: \"INFO\", title: \"💧 RIEGO ON\", msg: `Suelo seco (${soil}%) - Activando riego` });\n        }\n    } else if (soil >= SOIL_OK && irrigOn && canFire(\"cd_irrig_off\", CD_ACTION)) {\n        irrigOn = false;\n        flow.set(\"irrigationOn\", false);\n        actions.push({ action: \"irrigation\", state: \"OFF\", soil });\n    }\n}\n\n// Regla 2: Luz\nif (light !== null) {\n    if (light < LIGHT_LOW && !lightOn && canFire(\"cd_light_on\", CD_ACTION)) {\n        lightOn = true;\n        flow.set(\"lightOn\", true);\n        actions.push({ action: \"light\", state: \"ON\", light });\n        alerts.push({ level: \"INFO\", title: \"💡 LUZ ON\", msg: `Luz baja (${light} ADC)` });\n    } else if (light >= LIGHT_OK && lightOn && canFire(\"cd_light_off\", CD_ACTION)) {\n        lightOn = false;\n        flow.set(\"lightOn\", false);\n        actions.push({ action: \"light\", state: \"OFF\", light });\n    }\n}\n\n// Regla 3: Tanque bajo\nif (tank !== null && tank <= TANK_WARN && canFire(\"cd_tank\", CD_ALERT)) {\n    const lvl = tank <= TANK_LOW ? \"CRIT\" : \"WARN\";\n    alerts.push({ level: lvl, title: \"🪣 TANQUE BAJO\", msg: `Nivel: ${tank}%` });\n}\n\n// Regla 4: Temp alta\nif (temp !== null && temp >= TEMP_HIGH && canFire(\"cd_temp\", CD_ALERT)) {\n    alerts.push({ level: \"WARN\", title: \"🌡️ TEMP ALTA\", msg: `Temperatura: ${temp}°C` });\n}\n\n// Salidas\nconst outActions = actions.length ? { topic: \"greenhouse/actions\", payload: actions } : null;\nconst outAlerts = alerts.length ? { topic: \"greenhouse/alerts\", payload: alerts } : null;\n\n// Update status display\nif (actions.length) {\n    flow.set(\"lastStatus\", { irrigation: irrigOn, light: lightOn });\n}\n\nreturn [outActions, outAlerts];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "flow.set(\"irrigationOn\", false);\nflow.set(\"lightOn\", false);",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 440,
        "wires": [
            [
                "a29f9aac8b9cd245",
                "901aa17d9146ea51"
            ],
            [
                "6ed6cfc42e86dd53",
                "29b661ae2d86f070"
            ]
        ]
    },
    {
        "id": "a29f9aac8b9cd245",
        "type": "mqtt out",
        "z": "543f4ba6265dcfb2",
        "name": "📤 Actions",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "dcc2accf755af92f",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "6ed6cfc42e86dd53",
        "type": "mqtt out",
        "z": "543f4ba6265dcfb2",
        "name": "📤 Alerts",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "dcc2accf755af92f",
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "901aa17d9146ea51",
        "type": "function",
        "z": "543f4ba6265dcfb2",
        "name": "🔄 Status",
        "func": "const irrigOn = flow.get(\"irrigationOn\") || false;\nconst lightOn = flow.get(\"lightOn\") || false;\n\nreturn {\n    payload: {\n        irrigation: irrigOn ? \"🟢 ON\" : \"⚪ OFF\",\n        light: lightOn ? \"🟢 ON\" : \"⚪ OFF\"\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "9fe8153ac6fbd43d",
                "262ff7f6ce18bdce"
            ]
        ]
    },
    {
        "id": "9fe8153ac6fbd43d",
        "type": "ui-text",
        "z": "543f4ba6265dcfb2",
        "group": "ui_group_status",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "Riego",
        "label": "💧 Riego",
        "format": "{{msg.payload.irrigation}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "color": "#2196f3",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "262ff7f6ce18bdce",
        "type": "ui-text",
        "z": "543f4ba6265dcfb2",
        "group": "ui_group_status",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Luz",
        "label": "💡 Luz",
        "format": "{{msg.payload.light}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "color": "#ffc107",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "e99391cb07ab130b",
        "type": "comment",
        "z": "543f4ba6265dcfb2",
        "name": "══════════ 📊 THINGSPEAK ══════════",
        "x": 190,
        "y": 520,
        "wires": []
    },
    {
        "id": "cdba7ae694a5bbf4",
        "type": "join",
        "z": "543f4ba6265dcfb2",
        "name": "📦 Agrupar 5 sensores",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "sensorType",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "47c6c80ea59f838a"
            ]
        ]
    },
    {
        "id": "47c6c80ea59f838a",
        "type": "function",
        "z": "543f4ba6265dcfb2",
        "name": "📊 Format ThingSpeak",
        "func": "// Rate limiting: mínimo 15s entre envíos\nconst now = Date.now();\nconst lastSent = flow.get(\"ts_lastSent\") || 0;\n\nif (now - lastSent < 15000) {\n    return null;\n}\nflow.set(\"ts_lastSent\", now);\n\nconst p = msg.payload;\n\n// Mapear a fields de ThingSpeak\nconst data = {\n    field1: p.temp,\n    field2: p.hum,\n    field3: p.soil,\n    field4: p.light,\n    field5: p.tank\n};\n\nreturn { payload: data };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 580,
        "wires": [
            [
                "75fd3c7978d165f0",
                "175bf6d7a9129e49"
            ]
        ]
    },
    {
        "id": "75fd3c7978d165f0",
        "type": "http request",
        "z": "543f4ba6265dcfb2",
        "name": "📤 ThingSpeak",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update?api_key=EQFBWOLS0VDKMCQ5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "175bf6d7a9129e49",
        "type": "debug",
        "z": "543f4ba6265dcfb2",
        "name": "ThingSpeak data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "c39d48f61648db10",
        "type": "comment",
        "z": "543f4ba6265dcfb2",
        "name": "══════════ 📱 TELEGRAM ══════════",
        "x": 180,
        "y": 680,
        "wires": []
    },
    {
        "id": "29b661ae2d86f070",
        "type": "function",
        "z": "543f4ba6265dcfb2",
        "name": "📱 Format Telegram",
        "func": "// ⚠️ PON TU CHAT ID AQUÍ\nconst CHAT_ID = \"7906886061\";\n\nconst alerts = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\n\nconst out = [];\nfor (const a of alerts) {\n    const emoji = a.level === \"CRIT\" ? \"🚨\" : a.level === \"WARN\" ? \"⚠️\" : \"ℹ️\";\n    const text = `${emoji} *${a.title}*\\n\\n${a.msg}\\n\\n🕐 ${new Date().toLocaleString('es-ES')}`;\n    \n    out.push({\n        payload: {\n            chatId: CHAT_ID,\n            type: \"message\",\n            content: text,\n            options: { parse_mode: \"Markdown\" }\n        }\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 740,
        "wires": [
            [
                "7ec60325c8126bcf"
            ]
        ]
    },
    {
        "id": "7ec60325c8126bcf",
        "type": "telegram sender",
        "z": "543f4ba6265dcfb2",
        "name": "📤 Telegram",
        "bot": "telegram_bot_config",
        "haserroroutput": true,
        "outputs": 2,
        "x": 410,
        "y": 740,
        "wires": [
            [],
            [
                "645a51f8577eedb8"
            ]
        ]
    },
    {
        "id": "645a51f8577eedb8",
        "type": "debug",
        "z": "543f4ba6265dcfb2",
        "name": "Telegram Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "9b2c6673307d2262",
        "type": "telegram receiver",
        "z": "543f4ba6265dcfb2",
        "name": "📥 Commands",
        "bot": "telegram_bot_config",
        "saveDataDir": "",
        "filterCommands": false,
        "hasinput": false,
        "inputs": 0,
        "handleallupdates": false,
        "x": 170,
        "y": 800,
        "wires": [
            [
                "8bd1cae43d967b20"
            ],
            []
        ]
    },
    {
        "id": "8bd1cae43d967b20",
        "type": "function",
        "z": "543f4ba6265dcfb2",
        "name": "🤖 Commands",
        "func": "const chatId = msg.payload.chatId;\nconst text = (msg.payload.content || \"\").toLowerCase().trim();\n\nlet response = \"\";\n\nswitch(text) {\n    case \"/start\":\n    case \"/help\":\n        response = \"🌱 *Greenhouse Bot*\\n\\n\" +\n            \"/status - Estado actual\\n\" +\n            \"/sensors - Valores sensores\\n\" +\n            \"/help - Ayuda\";\n        break;\n        \n    case \"/status\":\n        const irrigOn = flow.get(\"irrigationOn\") || false;\n        const lightOn = flow.get(\"lightOn\") || false;\n        response = \"⚡ *Estado*\\n\\n\" +\n            `💧 Riego: ${irrigOn ? \"🟢 ON\" : \"⚪ OFF\"}\\n` +\n            `💡 Luz: ${lightOn ? \"🟢 ON\" : \"⚪ OFF\"}`;\n        break;\n        \n    case \"/sensors\":\n        const temp = flow.get(\"last_temp\");\n        const hum = flow.get(\"last_hum\");\n        const soil = flow.get(\"last_soil\");\n        const light = flow.get(\"last_light\");\n        const tank = flow.get(\"last_tank\");\n        \n        response = \"📡 *Sensores*\\n\\n\" +\n            `🌡️ Temp: ${temp ? temp.value + \"°C\" : \"N/A\"}\\n` +\n            `💧 Hum: ${hum ? hum.value + \"%\" : \"N/A\"}\\n` +\n            `🌱 Suelo: ${soil ? soil.value + \"%\" : \"N/A\"}\\n` +\n            `☀️ Luz: ${light ? light.value + \" ADC\" : \"N/A\"}\\n` +\n            `🪣 Tanque: ${tank ? tank.value + \"%\" : \"N/A\"}`;\n        break;\n        \n    default:\n        if (text.startsWith(\"/\")) {\n            response = \"❓ Comando no reconocido. Usa /help\";\n        } else {\n            return null;\n        }\n}\n\nreturn {\n    payload: {\n        chatId: chatId,\n        type: \"message\",\n        content: response,\n        options: { parse_mode: \"Markdown\" }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 800,
        "wires": [
            [
                "7ec60325c8126bcf"
            ]
        ]
    },
    {
        "id": "6312068daf70fade",
        "type": "mqtt in",
        "z": "543f4ba6265dcfb2",
        "name": "📡 Telemetría",
        "topic": "greenhouse/+/telemetry",
        "qos": "1",
        "datatype": "json",
        "broker": "dcc2accf755af92f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "4801934cc21ea1d2",
                "909b38766d25e9b8"
            ]
        ]
    },
    {
        "id": "02bc45eac5ba093d",
        "type": "comment",
        "z": "f4d1039b513810a4",
        "name": "══════════ 📥 ENTRADA MQTT ══════════",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "c733ae3b7454be09",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "🔄 Parse + Store",
        "func": "const p = msg.payload;\nif (!p || !p.type) return null;\n\n// Guardar último valor\nflow.set(`last_${p.type}`, { ts: p.ts, value: p.value });\n\n// Preparar para gauges (solo valor)\nmsg.payload = p.value;\nmsg.sensorType = p.type;\nmsg.timestamp = p.ts;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 360,
        "wires": [
            [
                "df7e15abcf3d5013",
                "9bdb2090a80cee63",
                "634aa00d0919a713"
            ]
        ]
    },
    {
        "id": "634aa00d0919a713",
        "type": "switch",
        "z": "f4d1039b513810a4",
        "name": "🔀 Tipo",
        "property": "sensorType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hum",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tank",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aire",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1200,
        "y": 220,
        "wires": [
            [
                "a7f7024b349871ba",
                "2a4063262ffc395d"
            ],
            [
                "0c94f4431bcdaf0c",
                "7baef81dab6d24e6"
            ],
            [
                "c812c289e1fe0169",
                "3b8f9991bf833556"
            ],
            [
                "d8659b882a451296",
                "553952c8cce5dc97"
            ],
            [
                "fa2501fca12d4f24",
                "9456489061cd3906"
            ],
            [
                "abaefe9164f67474",
                "2ebcf20d64bec717"
            ]
        ]
    },
    {
        "id": "a7f7024b349871ba",
        "type": "ui-gauge",
        "z": "f4d1039b513810a4",
        "name": "🌡️ Temp",
        "group": "ui_group_sensors",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#2196f3",
                "text": "",
                "textType": "label"
            },
            {
                "from": "18",
                "color": "#4caf50",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ff9800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "38",
                "color": "#f44336",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": "",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 1420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0c94f4431bcdaf0c",
        "type": "ui-gauge",
        "z": "f4d1039b513810a4",
        "name": "💧 Hum",
        "group": "ui_group_sensors",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad Amb",
        "alwaysShowTitle": false,
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff9800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#4caf50",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#2196f3",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 1420,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "c812c289e1fe0169",
        "type": "ui-gauge",
        "z": "f4d1039b513810a4",
        "name": "🌱 Soil",
        "group": "ui_group_sensors",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad Suelo",
        "alwaysShowTitle": false,
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#f44336",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ff9800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#4caf50",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 1420,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d8659b882a451296",
        "type": "ui-gauge",
        "z": "f4d1039b513810a4",
        "name": "☀️ Light",
        "group": "ui_group_sensors",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Luz",
        "units": "ADC",
        "segments": [
            {
                "from": "0",
                "color": "#37474f"
            },
            {
                "from": "300",
                "color": "#ffeb3b"
            },
            {
                "from": "700",
                "color": "#fff59d"
            }
        ],
        "min": 0,
        "max": "1023",
        "x": 1420,
        "y": 250,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2501fca12d4f24",
        "type": "ui-gauge",
        "z": "f4d1039b513810a4",
        "name": "🪣 Tank",
        "group": "ui_group_sensors",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "Tanque",
        "units": "%",
        "segments": [
            {
                "from": "0",
                "color": "#f44336"
            },
            {
                "from": "20",
                "color": "#ff9800"
            },
            {
                "from": "40",
                "color": "#2196f3"
            }
        ],
        "min": 0,
        "max": "100",
        "x": 1420,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2a4063262ffc395d",
        "type": "ui-chart",
        "z": "f4d1039b513810a4",
        "group": "ui_group_charts",
        "name": "📈 Temp",
        "label": "Temperatura",
        "order": 1,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "°C",
        "ymin": "0",
        "ymax": "50",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#f44336"
        ],
        "width": 4,
        "height": 4,
        "x": 1600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7baef81dab6d24e6",
        "type": "ui-chart",
        "z": "f4d1039b513810a4",
        "group": "ui_group_charts",
        "name": "📈 Hum",
        "label": "Humedad",
        "order": 2,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "%",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#2196f3"
        ],
        "width": 4,
        "height": 4,
        "x": 1600,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "3b8f9991bf833556",
        "type": "ui-chart",
        "z": "f4d1039b513810a4",
        "group": "ui_group_charts",
        "name": "📈 Soil",
        "label": "Suelo",
        "order": 3,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "%",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#795548"
        ],
        "width": 4,
        "height": 4,
        "x": 1600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "553952c8cce5dc97",
        "type": "ui-chart",
        "z": "f4d1039b513810a4",
        "group": "ui_group_charts",
        "name": "📈 Light",
        "label": "Luz",
        "order": 4,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "auto",
        "yAxisLabel": "ADC",
        "ymin": "0",
        "ymax": "1023",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "colors": [
            "#ffc107"
        ],
        "width": 4,
        "height": 4,
        "x": 1600,
        "y": 250,
        "wires": [
            []
        ]
    },
    {
        "id": "9456489061cd3906",
        "type": "ui-chart",
        "z": "f4d1039b513810a4",
        "group": "ui_group_charts",
        "name": "📈 Tank",
        "label": "Tanque",
        "order": 5,
        "chartType": "line",
        "category": "sensorType",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "%",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "100",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#00bcd4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 4,
        "height": 4,
        "className": "",
        "interpolation": "linear",
        "x": 1598.9999618530273,
        "y": 295.99999809265137,
        "wires": [
            []
        ]
    },
    {
        "id": "848726d92cd573dc",
        "type": "comment",
        "z": "f4d1039b513810a4",
        "name": "══════════ 🧠 REGLAS ══════════",
        "x": 1310,
        "y": 400,
        "wires": []
    },
    {
        "id": "9bdb2090a80cee63",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "🧠 Reglas Auto",
        "func": "const now = Date.now();\n\n// Umbrales\nconst SOIL_DRY = 30;\nconst SOIL_OK = 50;\nconst LIGHT_LOW = 250;\nconst LIGHT_OK = 400;\nconst TANK_LOW = 15;\nconst TANK_WARN = 25;\nconst TEMP_HIGH = 35;\n\n// Cooldowns (ms)\nconst CD_ACTION = 60000;\nconst CD_ALERT = 120000;\n\n// Helpers\nfunction last(type) {\n    const v = flow.get(`last_${type}`);\n    return v ? v.value : null;\n}\n\nfunction canFire(key, cd) {\n    const lastTs = flow.get(key) || 0;\n    if (now - lastTs >= cd) {\n        flow.set(key, now);\n        return true;\n    }\n    return false;\n}\n\n// Estado\nlet irrigOn = flow.get(\"irrigationOn\") || false;\nlet lightOn = flow.get(\"lightOn\") || false;\n\n// Lecturas\nconst soil = last(\"soil\");\nconst tank = last(\"tank\");\nconst light = last(\"light\");\nconst temp = last(\"temp\");\n\nconst actions = [];\nconst alerts = [];\n\n// Regla 1: Riego\nif (soil !== null) {\n    if (soil < SOIL_DRY && !irrigOn) {\n        if (tank !== null && tank <= TANK_LOW) {\n            if (canFire(\"cd_nowater\", CD_ALERT)) {\n                alerts.push({ level: \"CRIT\", title: \"🚨 SIN AGUA\", msg: `Suelo seco (${soil}%) pero tanque vacío (${tank}%)` });\n            }\n        } else if (canFire(\"cd_irrig_on\", CD_ACTION)) {\n            irrigOn = true;\n            flow.set(\"irrigationOn\", true);\n            actions.push({ action: \"irrigation\", state: \"ON\", soil, tank });\n            alerts.push({ level: \"INFO\", title: \"💧 RIEGO ON\", msg: `Suelo seco (${soil}%) - Activando riego` });\n        }\n    } else if (soil >= SOIL_OK && irrigOn && canFire(\"cd_irrig_off\", CD_ACTION)) {\n        irrigOn = false;\n        flow.set(\"irrigationOn\", false);\n        actions.push({ action: \"irrigation\", state: \"OFF\", soil });\n    }\n}\n\n// Regla 2: Luz\nif (light !== null) {\n    if (light < LIGHT_LOW && !lightOn && canFire(\"cd_light_on\", CD_ACTION)) {\n        lightOn = true;\n        flow.set(\"lightOn\", true);\n        actions.push({ action: \"light\", state: \"ON\", light });\n        alerts.push({ level: \"INFO\", title: \"💡 LUZ ON\", msg: `Luz baja (${light} ADC)` });\n    } else if (light >= LIGHT_OK && lightOn && canFire(\"cd_light_off\", CD_ACTION)) {\n        lightOn = false;\n        flow.set(\"lightOn\", false);\n        actions.push({ action: \"light\", state: \"OFF\", light });\n    }\n}\n\n// Regla 3: Tanque bajo\nif (tank !== null && tank <= TANK_WARN && canFire(\"cd_tank\", CD_ALERT)) {\n    const lvl = tank <= TANK_LOW ? \"CRIT\" : \"WARN\";\n    alerts.push({ level: lvl, title: \"🪣 TANQUE BAJO\", msg: `Nivel: ${tank}%` });\n}\n\n// Regla 4: Temp alta\nif (temp !== null && temp >= TEMP_HIGH && canFire(\"cd_temp\", CD_ALERT)) {\n    alerts.push({ level: \"WARN\", title: \"🌡️ TEMP ALTA\", msg: `Temperatura: ${temp}°C` });\n}\n\n// Salidas\nconst outActions = actions.length ? { topic: \"greenhouse/actions\", payload: actions } : null;\nconst outAlerts = alerts.length ? { topic: \"greenhouse/alerts\", payload: alerts } : null;\n\n// Update status display\nif (actions.length) {\n    flow.set(\"lastStatus\", { irrigation: irrigOn, light: lightOn });\n}\n\nreturn [outActions, outAlerts];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "flow.set(\"irrigationOn\", false);\nflow.set(\"lightOn\", false);",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "f2ff969f19e504dd",
                "11c367ba29f24f90"
            ],
            [
                "cb13be096c610a37",
                "f0434c874c309aa2"
            ]
        ]
    },
    {
        "id": "f2ff969f19e504dd",
        "type": "mqtt out",
        "z": "f4d1039b513810a4",
        "name": "📤 Actions",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "dcc2accf755af92f",
        "x": 1450,
        "y": 480,
        "wires": []
    },
    {
        "id": "cb13be096c610a37",
        "type": "mqtt out",
        "z": "f4d1039b513810a4",
        "name": "📤 Alerts",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "dcc2accf755af92f",
        "x": 1440,
        "y": 540,
        "wires": []
    },
    {
        "id": "11c367ba29f24f90",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "🔄 Status",
        "func": "const irrigOn = flow.get(\"irrigationOn\") || false;\nconst lightOn = flow.get(\"lightOn\") || false;\n\nreturn {\n    payload: {\n        irrigation: irrigOn ? \"🟢 ON\" : \"⚪ OFF\",\n        light: lightOn ? \"🟢 ON\" : \"⚪ OFF\"\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 440,
        "wires": [
            [
                "bf27a21dda200cfb",
                "430b91a8ecbc8276"
            ]
        ]
    },
    {
        "id": "bf27a21dda200cfb",
        "type": "ui-text",
        "z": "f4d1039b513810a4",
        "group": "ui_group_status",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "Riego",
        "label": "💧 Riego",
        "format": "{{msg.payload.irrigation}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "color": "#2196f3",
        "x": 1630,
        "y": 420,
        "wires": []
    },
    {
        "id": "430b91a8ecbc8276",
        "type": "ui-text",
        "z": "f4d1039b513810a4",
        "group": "ui_group_status",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Luz",
        "label": "💡 Luz",
        "format": "{{msg.payload.light}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "color": "#ffc107",
        "x": 1630,
        "y": 460,
        "wires": []
    },
    {
        "id": "07aa0305204af30c",
        "type": "comment",
        "z": "f4d1039b513810a4",
        "name": "══════════ 📊 THINGSPEAK ══════════",
        "x": 1330,
        "y": 620,
        "wires": []
    },
    {
        "id": "df7e15abcf3d5013",
        "type": "join",
        "z": "f4d1039b513810a4",
        "name": "📦 Agrupar 5 sensores",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "sensorType",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1240,
        "y": 700,
        "wires": [
            [
                "07ac39dee47b6a54"
            ]
        ]
    },
    {
        "id": "07ac39dee47b6a54",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "📊 Format ThingSpeak",
        "func": "// Rate limiting: mínimo 15s entre envíos\nconst now = Date.now();\nconst lastSent = flow.get(\"ts_lastSent\") || 0;\n\nif (now - lastSent < 15000) {\n    return null;\n}\nflow.set(\"ts_lastSent\", now);\n\nconst p = msg.payload;\n\n// Mapear a fields de ThingSpeak\nconst data = {\n    field1: p.temp,\n    field2: p.hum,\n    field3: p.soil,\n    field4: p.light,\n    field5: p.tank\n};\n\nreturn { payload: data };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 700,
        "wires": [
            [
                "b385ca4c1e5815f5",
                "ddb8f67a39423962"
            ]
        ]
    },
    {
        "id": "b385ca4c1e5815f5",
        "type": "http request",
        "z": "f4d1039b513810a4",
        "name": "📤 ThingSpeak",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.thingspeak.com/update?api_key=EQFBWOLS0VDKMCQ5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1720,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ddb8f67a39423962",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "ThingSpeak data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1720,
        "y": 740,
        "wires": []
    },
    {
        "id": "0f87da3fd1c3fcc0",
        "type": "comment",
        "z": "f4d1039b513810a4",
        "name": "══════════ 📱 TELEGRAM ══════════",
        "x": 1460,
        "y": 820,
        "wires": []
    },
    {
        "id": "f0434c874c309aa2",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "📱 Format Telegram",
        "func": "// ⚠️ PON TU CHAT ID AQUÍ\nconst CHAT_ID = \"7906886061\";\n\nconst alerts = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\n\nconst out = [];\nfor (const a of alerts) {\n    const emoji = a.level === \"CRIT\" ? \"🚨\" : a.level === \"WARN\" ? \"⚠️\" : \"ℹ️\";\n    const text = `${emoji} *${a.title}*\\n\\n${a.msg}\\n\\n🕐 ${new Date().toLocaleString('es-ES')}`;\n    \n    out.push({\n        payload: {\n            chatId: CHAT_ID,\n            type: \"message\",\n            content: text,\n            options: { parse_mode: \"Markdown\" }\n        }\n    });\n}\n\nreturn [out];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 880,
        "wires": [
            [
                "5f75ef6a6e3dabbc"
            ]
        ]
    },
    {
        "id": "5f75ef6a6e3dabbc",
        "type": "telegram sender",
        "z": "f4d1039b513810a4",
        "name": "📤 Telegram",
        "bot": "telegram_bot_config",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1690,
        "y": 880,
        "wires": [
            [],
            [
                "39c9c9447e85d90a"
            ]
        ]
    },
    {
        "id": "39c9c9447e85d90a",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "Telegram Error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1900,
        "y": 900,
        "wires": []
    },
    {
        "id": "8b464c7a313b2442",
        "type": "telegram receiver",
        "z": "f4d1039b513810a4",
        "name": "📥 Commands",
        "bot": "telegram_bot_config",
        "saveDataDir": "",
        "filterCommands": false,
        "hasinput": false,
        "inputs": 0,
        "handleallupdates": false,
        "x": 1460,
        "y": 940,
        "wires": [
            [
                "2904724488ea7234"
            ],
            []
        ]
    },
    {
        "id": "2904724488ea7234",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "🤖 Commands",
        "func": "const chatId = msg.payload.chatId;\nconst text = (msg.payload.content || \"\").toLowerCase().trim();\n\nlet response = \"\";\n\nswitch(text) {\n    case \"/start\":\n    case \"/help\":\n        response = \"🌱 *Greenhouse Bot*\\n\\n\" +\n            \"/status - Estado actual\\n\" +\n            \"/sensors - Valores sensores\\n\" +\n            \"/help - Ayuda\";\n        break;\n        \n    case \"/status\":\n        const irrigOn = flow.get(\"irrigationOn\") || false;\n        const lightOn = flow.get(\"lightOn\") || false;\n        response = \"⚡ *Estado*\\n\\n\" +\n            `💧 Riego: ${irrigOn ? \"🟢 ON\" : \"⚪ OFF\"}\\n` +\n            `💡 Luz: ${lightOn ? \"🟢 ON\" : \"⚪ OFF\"}`;\n        break;\n        \n    case \"/sensors\":\n        const temp = flow.get(\"last_temp\");\n        const hum = flow.get(\"last_hum\");\n        const soil = flow.get(\"last_soil\");\n        const light = flow.get(\"last_light\");\n        const tank = flow.get(\"last_tank\");\n        \n        response = \"📡 *Sensores*\\n\\n\" +\n            `🌡️ Temp: ${temp ? temp.value + \"°C\" : \"N/A\"}\\n` +\n            `💧 Hum: ${hum ? hum.value + \"%\" : \"N/A\"}\\n` +\n            `🌱 Suelo: ${soil ? soil.value + \"%\" : \"N/A\"}\\n` +\n            `☀️ Luz: ${light ? light.value + \" ADC\" : \"N/A\"}\\n` +\n            `🪣 Tanque: ${tank ? tank.value + \"%\" : \"N/A\"}`;\n        break;\n        \n    default:\n        if (text.startsWith(\"/\")) {\n            response = \"❓ Comando no reconocido. Usa /help\";\n        } else {\n            return null;\n        }\n}\n\nreturn {\n    payload: {\n        chatId: chatId,\n        type: \"message\",\n        content: response,\n        options: { parse_mode: \"Markdown\" }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 940,
        "wires": [
            [
                "5f75ef6a6e3dabbc"
            ]
        ]
    },
    {
        "id": "46340dec34bfa017",
        "type": "mqtt in",
        "z": "f4d1039b513810a4",
        "name": "",
        "topic": "dht11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc2accf755af92f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "98bee0126fc9eeb8"
            ]
        ]
    },
    {
        "id": "d5d4536c94a1973e",
        "type": "mqtt in",
        "z": "f4d1039b513810a4",
        "name": "",
        "topic": "soil",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc2accf755af92f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "4920363ef6382ea8"
            ]
        ]
    },
    {
        "id": "c83aa59ceb2ed6fc",
        "type": "mqtt in",
        "z": "f4d1039b513810a4",
        "name": "",
        "topic": "ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc2accf755af92f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e40e45d96c24ecf8",
        "type": "mqtt in",
        "z": "f4d1039b513810a4",
        "name": "",
        "topic": "mq135",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc2accf755af92f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "c66a6e47f138bf63"
            ]
        ]
    },
    {
        "id": "e3ac2686cdd981cb",
        "type": "inject",
        "z": "f4d1039b513810a4",
        "name": "inject_nivel_agua",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "nivel_agua",
        "payload": "{\"nivel\": 60}",
        "payloadType": "json",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "836dd155e761b6cb"
            ]
        ]
    },
    {
        "id": "98bee0126fc9eeb8",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "DH11_to_telemetry",
        "func": "const ts = Date.now();\n\n// 1) Normaliza payload: si viene como string JSON, parsea\nlet p = msg.payload;\n\nif (typeof p === \"string\") {\n  try {\n    p = JSON.parse(p);\n  } catch (e) {\n    node.warn(\"DHT11 payload no es JSON válido: \" + p);\n    return null;\n  }\n}\n\n// 2) Extrae temperatura y humedad (usando tus claves reales y alternativas)\nconst temp = p.temperatura ?? p.temp ?? p.temperature ?? p.t;\nconst hum  = p.humedad    ?? p.hum  ?? p.humidity    ?? p.h;\n\nconst tempN = Number(temp);\nconst humN  = Number(hum);\n\nif (!Number.isFinite(tempN) || !Number.isFinite(humN)) {\n  node.warn(\"DHT11 inválido: \" + JSON.stringify(p));\n  return null;\n}\n\n// 3) Emite 2 mensajes en el formato estándar\nreturn [\n  { topic: \"greenhouse/node1/telemetry\", payload: { ts, type: \"temp\", value: tempN } },\n  { topic: \"greenhouse/node1/telemetry\", payload: { ts, type: \"hum\",  value: humN  } }\n];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "898e63ca1020e8fe",
                "c733ae3b7454be09",
                "b9dd7c80a9dd7a8a"
            ]
        ]
    },
    {
        "id": "4920363ef6382ea8",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "soil_to_telemetry",
        "func": "const ts = Date.now();\n\n// Asegura que payload sea objeto (si usas nodo JSON, normalmente ya lo es)\nconst p = msg.payload;\n\n// 1) Prioridad: si viene \"humedad\", usamos esa (parece que ya está procesada)\nlet v = undefined;\n\nif (p && typeof p === \"object\") {\n  if (p.humedad !== undefined) v = p.humedad;\n  else if (p.moisture !== undefined) v = p.moisture;\n  else if (p.soil !== undefined) v = p.soil;\n  else if (p.value !== undefined) v = p.value;\n  else if (p.raw !== undefined) v = p.raw; // fallback: usar raw si no hay humedad\n} else {\n  // si por lo que sea llega un número directo\n  v = p;\n}\n\nif (v === undefined || v === null) {\n  node.warn(\"SOIL payload inválido (sin campos esperados): \" + JSON.stringify(p));\n  return null;\n}\n\n// 2) Convierte a número y valida\nv = Number(v);\nif (!Number.isFinite(v)) {\n  node.warn(\"SOIL value no numérico: \" + JSON.stringify(p));\n  return null;\n}\n\n// 3) Construye el mensaje en tu formato estándar\nmsg.topic = \"greenhouse/node2/telemetry\";\nmsg.payload = { ts, type: \"soil\", value: v };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "0bb57c625e14b8a2",
                "c733ae3b7454be09",
                "b9dd7c80a9dd7a8a"
            ]
        ]
    },
    {
        "id": "eab724b458c6fc81",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "ldr_to_telemetry",
        "func": "const ts = Date.now();\n\n// 1) Normaliza payload: si viene como string JSON, parsea\nlet p = msg.payload;\n\nif (typeof p === \"string\") {\n  try {\n    p = JSON.parse(p);\n  } catch (e) {\n    node.warn('LDR payload no es JSON válido: ' + p);\n    return null;\n  }\n}\n\n// 2) Extrae valor de luz (prioriza \"luz\", luego raw, etc.)\nlet v;\nif (p && typeof p === \"object\") {\n  v = p.luz ?? p.light ?? p.ldr ?? p.value ?? p.raw;\n} else {\n  v = p;\n}\n\n// 3) Convierte y valida\nv = Number(v);\nif (!Number.isFinite(v)) {\n  node.warn(\"LDR inválido: \" + JSON.stringify(p));\n  return null;\n}\n\n// 4) Construye mensaje estándar\nmsg.topic = \"greenhouse/node3/telemetry\";\nmsg.payload = { ts, type: \"light\", value: v };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "3cfd7e9e035e441f",
                "c733ae3b7454be09",
                "b9dd7c80a9dd7a8a"
            ]
        ]
    },
    {
        "id": "c66a6e47f138bf63",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "mq135_to_telemetry",
        "func": "const ts = Date.now();\nlet p = msg.payload;\n\nif (typeof p === \"string\") {\n  try { p = JSON.parse(p); }\n  catch { return [null, null]; }\n}\n\nconst rawN = Number(p.raw);\nconst pctN = Number(p.percentage);\n\nconst msgRaw = Number.isFinite(rawN)\n  ? { topic: \"greenhouse/node4/telemetry\", payload: { ts, type: \"gas_raw\", value: rawN } }\n  : null;\n\nconst msgPct = Number.isFinite(pctN)\n  ? { topic: \"greenhouse/node4/telemetry\", payload: { ts, type: \"gas_pct\", value: pctN } }\n  : null;\n\n// raw por salida 1, percentage por salida 2\nreturn [msgRaw, msgPct];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 440,
        "wires": [
            [
                "cdc6c95fcf4af7fb",
                "b9dd7c80a9dd7a8a"
            ]
        ]
    },
    {
        "id": "836dd155e761b6cb",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "agua_to_telemetry",
        "func": "const ts = Date.now();\nconst v = (typeof msg.payload === \"object\")\n  ? (msg.payload.value ?? msg.payload.tank ?? msg.payload.level)\n  : msg.payload;\n\nif (v === undefined) {\n  node.warn(\"TANK payload inválido: \" + JSON.stringify(msg.payload));\n  return null;\n}\n\nmsg.topic = \"greenhouse/node4/telemetry\";\nmsg.payload = { ts, type: \"tank\", value: Number(v) };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 520,
        "wires": [
            [
                "957d18ab4c465c58",
                "c733ae3b7454be09"
            ]
        ]
    },
    {
        "id": "898e63ca1020e8fe",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "0bb57c625e14b8a2",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "3cfd7e9e035e441f",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "cdc6c95fcf4af7fb",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "957d18ab4c465c58",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "993d9db1fe1681ba",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "Last value",
        "func": "const p = msg.payload;\n\nif (!p || typeof p !== \"object\") {\n    node.warn(\"ALEXA store: payload no es objeto\");\n    return null;\n}\n\nconst type = String(p.type || \"\").trim().toLowerCase();\nconst value = Number(p.value);\n\nif (!type || !Number.isFinite(value)) {\n    node.warn(\"ALEXA store: type/value inválidos: \" + JSON.stringify(p));\n    return null;\n}\n\n// Guarda en FLOW (no global)\nflow.set(type, value);\nflow.set(`ts_${type}`, Number(p.ts) || Date.now());\n\n// Para comprobar rápido en debug (luego lo puedes quitar):\nnode.status({ fill: \"green\", shape: \"dot\", text: `saved ${type}=${value}` });\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "192fa7bfdf68d9e0",
        "type": "comment",
        "z": "f4d1039b513810a4",
        "name": "══════════ 🔊 ALEXA ══════════",
        "info": "",
        "x": 1450,
        "y": 1040,
        "wires": []
    },
    {
        "id": "825d839755a62b1e",
        "type": "http in",
        "z": "f4d1039b513810a4",
        "name": "Soil",
        "url": "/api/alexa/soil",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 1350,
        "y": 1100,
        "wires": [
            [
                "2395351dcfb87cfd"
            ]
        ]
    },
    {
        "id": "2395351dcfb87cfd",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "GET Soil",
        "func": "const soil = flow.get(\"soil\");\nif (soil === undefined) {\n    msg.statusCode = 503;\n    msg.payload = { ok: false, error: \"No hay dato de soil aún\" };\n    return msg;\n}\nmsg.payload = { ok: true, soil };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1100,
        "wires": [
            [
                "e19ec1346742d6fe"
            ]
        ]
    },
    {
        "id": "e19ec1346742d6fe",
        "type": "http response",
        "z": "f4d1039b513810a4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dd9c3831955706ed",
        "type": "http in",
        "z": "f4d1039b513810a4",
        "name": "DTH",
        "url": "/api/alexa/dht",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 1350,
        "y": 1140,
        "wires": [
            [
                "ff97ee4f7ef8bd03"
            ]
        ]
    },
    {
        "id": "ff97ee4f7ef8bd03",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "GET DHT",
        "func": "const temp = flow.get(\"temp\");\nconst hum  = flow.get(\"hum\");\n\nif (temp === undefined || hum === undefined) {\n  msg.statusCode = 503;\n  msg.payload = { ok:false, error:\"No hay dato de temp/hum aún\" };\n  return msg;\n}\n\nmsg.payload = { ok:true, temp, hum };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1140,
        "wires": [
            [
                "e2bfada8a0417b87"
            ]
        ]
    },
    {
        "id": "e2bfada8a0417b87",
        "type": "http response",
        "z": "f4d1039b513810a4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6608c8743ff7cbe4",
        "type": "http in",
        "z": "f4d1039b513810a4",
        "name": "Tank",
        "url": "/api/alexa/tank",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 1350,
        "y": 1180,
        "wires": [
            [
                "910957e0fa25d678"
            ]
        ]
    },
    {
        "id": "910957e0fa25d678",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "GET Tank",
        "func": "const tank = flow.get(\"tank\");\nif (tank === undefined) {\n    msg.statusCode = 503;\n    msg.payload = { ok: false, error: \"No hay dato de tank aún\" };\n    return msg;\n}\nmsg.payload = { ok: true, tank };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1180,
        "wires": [
            [
                "368892a5f5d191ee"
            ]
        ]
    },
    {
        "id": "368892a5f5d191ee",
        "type": "http response",
        "z": "f4d1039b513810a4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 1180,
        "wires": []
    },
    {
        "id": "693458e5cdcdc211",
        "type": "http in",
        "z": "f4d1039b513810a4",
        "name": "Aire",
        "url": "/api/alexa/aire",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 1350,
        "y": 1220,
        "wires": [
            [
                "3e11b46d01e45840"
            ]
        ]
    },
    {
        "id": "3e11b46d01e45840",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "Get Aire",
        "func": "// Cambia \"gas_pct\" por \"gas\" si ese es tu type real\nconst gas_pct = flow.get(\"gas_pct\");\n\nif (gas_pct === undefined) {\n  msg.statusCode = 503;\n  msg.payload = { ok:false, error:\"No hay dato de calidad de aire aún\" };\n  return msg;\n}\n\nmsg.payload = { ok:true, gas_pct };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1220,
        "wires": [
            [
                "6e2b9fffb83ff031"
            ]
        ]
    },
    {
        "id": "6e2b9fffb83ff031",
        "type": "http response",
        "z": "f4d1039b513810a4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 1220,
        "wires": []
    },
    {
        "id": "173b1ff7ba4e75e3",
        "type": "http in",
        "z": "f4d1039b513810a4",
        "name": "Light",
        "url": "/api/alexa/light",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 1350,
        "y": 1260,
        "wires": [
            [
                "5e49480d3febcc9d"
            ]
        ]
    },
    {
        "id": "5e49480d3febcc9d",
        "type": "function",
        "z": "f4d1039b513810a4",
        "name": "GET Light",
        "func": "const light = flow.get(\"light\");\nif (light === undefined) {\n    msg.statusCode = 503;\n    msg.payload = { ok: false, error: \"No hay dato de luz aún\" };\n    return msg;\n}\nmsg.payload = { ok: true, light };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1260,
        "wires": [
            [
                "e72b396cc8372338"
            ]
        ]
    },
    {
        "id": "e72b396cc8372338",
        "type": "http response",
        "z": "f4d1039b513810a4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b9dd7c80a9dd7a8a",
        "type": "link out",
        "z": "f4d1039b513810a4",
        "name": "link out Alexa RAW",
        "mode": "link",
        "links": [
            "d0da1ee2b69c21f9"
        ],
        "x": 905,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0da1ee2b69c21f9",
        "type": "link in",
        "z": "f4d1039b513810a4",
        "name": "link in Alexa RAW",
        "links": [
            "b9dd7c80a9dd7a8a"
        ],
        "x": 1025,
        "y": 1140,
        "wires": [
            [
                "993d9db1fe1681ba"
            ]
        ]
    },
    {
        "id": "82a37cf307eb307d",
        "type": "debug",
        "z": "f4d1039b513810a4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2320,
        "y": 200,
        "wires": []
    },
    {
        "id": "abaefe9164f67474",
        "type": "ui-gauge",
        "z": "f4d1039b513810a4",
        "name": "💨        Aire",
        "group": "ui_group_sensors",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2ebcf20d64bec717",
        "type": "ui-chart",
        "z": "f4d1039b513810a4",
        "group": "ui_group_charts",
        "name": "📈 Aire",
        "label": "Aire",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1600,
        "y": 340,
        "wires": [
            []
        ]
    }
]