infra/nodered/flows/google-home-integration.json
[
  {
    "id": "tab_google_home",
    "type": "tab",
    "label": "Google Home Integration",
    "disabled": false,
    "info": "Endpoints HTTP para consultas de Google Home. Suscribe a MQTT y guarda datos en flow context."
  },
  {
    "id": "broker_mosquitto_googlehome",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-googlehome",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "comment_mqtt_section",
    "type": "comment",
    "z": "tab_google_home",
    "name": "Recepcion y almacenamiento de datos MQTT",
    "info": "Suscribe a telemetria MQTT y guarda datos en flow context",
    "x": 150,
    "y": 20,
    "wires": []
  },
  {
    "id": "mqtt_in_telemetry",
    "type": "mqtt in",
    "z": "tab_google_home",
    "name": "游니 Suscribir telemetr칤a",
    "topic": "greenhouse/+/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "broker_mosquitto_googlehome",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 150,
    "y": 60,
    "wires": [["fn_store_data", "debug_mqtt_received"]]
  },
  {
    "id": "debug_mqtt_received",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Datos MQTT recibidos",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 120,
    "wires": []
  },
  {
    "id": "fn_store_data",
    "type": "function",
    "z": "tab_google_home",
    "name": "游 Guardar en flow context",
    "func": "// Guardar datos en el flow context de ESTA pesta침a\nconst p = msg.payload;\nif (!p || !p.type) return null;\n\n// Guardar en flow context (de esta pesta침a)\nflow.set(`last_${p.type}`, { ts: p.ts, value: p.value });\n\n// Retornar mensaje para debug\nreturn { payload: { saved: `last_${p.type}`, value: p.value, timestamp: p.ts } };",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 60,
    "wires": [["debug_stored"]]
  },
  {
    "id": "debug_stored",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Datos guardados",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 60,
    "wires": []
  },
  {
    "id": "comment_http_section",
    "type": "comment",
    "z": "tab_google_home",
    "name": "Endpoints HTTP para Google Home",
    "info": "Expone datos del invernadero via REST API",
    "x": 150,
    "y": 120,
    "wires": []
  },
  {
    "id": "http_in_status",
    "type": "http in",
    "z": "tab_google_home",
    "name": "Status completo",
    "url": "/api/greenhouse/status",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 160,
    "wires": [["fn_get_status"]]
  },
  {
    "id": "http_in_temperature",
    "type": "http in",
    "z": "tab_google_home",
    "name": "Temperatura",
    "url": "/api/greenhouse/temperature",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 220,
    "wires": [["fn_get_temperature"]]
  },
  {
    "id": "http_in_humidity",
    "type": "http in",
    "z": "tab_google_home",
    "name": "Humedad ambiental",
    "url": "/api/greenhouse/humidity",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 280,
    "wires": [["fn_get_humidity"]]
  },
  {
    "id": "http_in_soil",
    "type": "http in",
    "z": "tab_google_home",
    "name": "Humedad suelo",
    "url": "/api/greenhouse/soil",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 340,
    "wires": [["fn_get_soil"]]
  },
  {
    "id": "http_in_tank",
    "type": "http in",
    "z": "tab_google_home",
    "name": "Nivel tanque",
    "url": "/api/greenhouse/tank",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 400,
    "wires": [["fn_get_tank"]]
  },
  {
    "id": "http_in_light",
    "type": "http in",
    "z": "tab_google_home",
    "name": "Iluminaci칩n",
    "url": "/api/greenhouse/light",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 460,
    "wires": [["fn_get_light"]]
  },
  {
    "id": "fn_get_status",
    "type": "function",
    "z": "tab_google_home",
    "name": "Obtener estado completo",
    "func": "// SOLO LECTURA - Compatible con ambos formatos de almacenamiento\n// Formato nuevo: last_temp, last_hum, last_soil, last_light, last_tank\n// Formato antiguo: last_node1, last_node2, last_node3, last_node4\n\nlet temp, hum, soil, light, tank;\n\n// Intentar formato nuevo primero\nconst lastTemp = flow.get('last_temp');\nconst lastHum = flow.get('last_hum');\nconst lastSoil = flow.get('last_soil');\nconst lastLight = flow.get('last_light');\nconst lastTank = flow.get('last_tank');\n\nif (lastTemp) temp = lastTemp.value;\nif (lastHum) hum = lastHum.value;\nif (lastSoil) soil = lastSoil.value;\nif (lastLight) light = lastLight.value;\nif (lastTank) tank = lastTank.value;\n\n// Si no hay datos en formato nuevo, intentar formato antiguo\nif (temp === undefined && hum === undefined) {\n    const node1 = flow.get('last_node1') || {};\n    temp = node1.temp;\n    hum = node1.hum;\n}\n\nif (soil === undefined) {\n    const node2 = flow.get('last_node2') || {};\n    soil = node2.soil || node2.value;\n}\n\nif (light === undefined) {\n    const node3 = flow.get('last_node3') || {};\n    light = node3.light || node3.value;\n}\n\nif (tank === undefined) {\n    const node4 = flow.get('last_node4') || {};\n    tank = node4.tank || node4.value;\n}\n\n// Verificar si hay datos disponibles\nconst hasData = temp !== undefined || hum !== undefined || soil !== undefined || light !== undefined || tank !== undefined;\n\nif (!hasData) {\n    msg.payload = {\n        \"speech\": \"No hay datos disponibles del invernadero en este momento. Los sensores pueden estar desconectados.\",\n        \"error\": \"No data available\",\n        \"timestamp\": Date.now()\n    };\n    msg.statusCode = 503;\n    return msg;\n}\n\n// Formatear mensaje para Google Home\nlet speechParts = [];\nif (temp !== undefined) {\n    speechParts.push(`Temperatura: ${Math.round(temp)} grados`);\n}\nif (hum !== undefined) {\n    speechParts.push(`Humedad ambiental: ${Math.round(hum)} por ciento`);\n}\nif (soil !== undefined) {\n    speechParts.push(`Humedad del suelo: ${Math.round(soil)} por ciento`);\n}\nif (tank !== undefined) {\n    speechParts.push(`Nivel del tanque: ${Math.round(tank)} por ciento`);\n}\nif (light !== undefined) {\n    speechParts.push(`Iluminaci칩n: ${Math.round(light)} unidades`);\n}\n\nconst speech = \"El invernadero est치 funcionando. \" + speechParts.join(\". \") + \".\";\n\nmsg.payload = {\n    \"speech\": speech,\n    \"temperature\": temp,\n    \"humidity\": hum,\n    \"soil\": soil,\n    \"tank\": tank,\n    \"light\": light,\n    \"timestamp\": Date.now(),\n    \"units\": {\n        \"temperature\": \"춿C\",\n        \"humidity\": \"%\",\n        \"soil\": \"%\",\n        \"tank\": \"%\",\n        \"light\": \"ADC\"\n    }\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 160,
    "wires": [["http_response_status", "debug_status_response"]]
  },
  {
    "id": "debug_status_response",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Respuesta Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 160,
    "wires": []
  },
  {
    "id": "fn_get_temperature",
    "type": "function",
    "z": "tab_google_home",
    "name": "Obtener temperatura",
    "func": "// SOLO LECTURA - Compatible con ambos formatos\nlet temp;\n\n// Intentar formato nuevo primero\nconst lastTemp = flow.get('last_temp');\nif (lastTemp) temp = lastTemp.value;\n\n// Si no hay datos en formato nuevo, intentar formato antiguo\nif (temp === undefined) {\n    const node1 = flow.get('last_node1') || {};\n    temp = node1.temp;\n}\n\nif (temp === undefined) {\n    msg.payload = {\n        \"speech\": \"No hay datos de temperatura disponibles en este momento.\",\n        \"error\": \"No temperature data\",\n        \"timestamp\": Date.now()\n    };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst speech = `La temperatura actual del invernadero es de ${Math.round(temp)} grados cent칤grados.`;\n\nmsg.payload = {\n    \"speech\": speech,\n    \"temperature\": temp,\n    \"unit\": \"춿C\",\n    \"timestamp\": Date.now()\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 220,
    "wires": [["http_response_temperature", "debug_temp_response"]]
  },
  {
    "id": "debug_temp_response",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Respuesta Temp",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 220,
    "wires": []
  },
  {
    "id": "fn_get_humidity",
    "type": "function",
    "z": "tab_google_home",
    "name": "Obtener humedad ambiental",
    "func": "// SOLO LECTURA - Compatible con ambos formatos\nlet hum;\n\n// Intentar formato nuevo primero\nconst lastHum = flow.get('last_hum');\nif (lastHum) hum = lastHum.value;\n\n// Si no hay datos en formato nuevo, intentar formato antiguo\nif (hum === undefined) {\n    const node1 = flow.get('last_node1') || {};\n    hum = node1.hum;\n}\n\nif (hum === undefined) {\n    msg.payload = {\n        \"speech\": \"No hay datos de humedad ambiental disponibles en este momento.\",\n        \"error\": \"No humidity data\",\n        \"timestamp\": Date.now()\n    };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst speech = `La humedad ambiental del invernadero es del ${Math.round(hum)} por ciento.`;\n\nmsg.payload = {\n    \"speech\": speech,\n    \"humidity\": hum,\n    \"unit\": \"%\",\n    \"timestamp\": Date.now()\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 280,
    "wires": [["http_response_humidity", "debug_humidity_response"]]
  },
  {
    "id": "debug_humidity_response",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Respuesta Humedad",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 280,
    "wires": []
  },
  {
    "id": "fn_get_soil",
    "type": "function",
    "z": "tab_google_home",
    "name": "Obtener humedad suelo",
    "func": "// SOLO LECTURA - Compatible con ambos formatos\nlet soil;\n\n// Intentar formato nuevo primero\nconst lastSoil = flow.get('last_soil');\nif (lastSoil) soil = lastSoil.value;\n\n// Si no hay datos en formato nuevo, intentar formato antiguo\nif (soil === undefined) {\n    const node2 = flow.get('last_node2') || {};\n    soil = node2.soil || node2.value;\n}\n\nif (soil === undefined) {\n    msg.payload = {\n        \"speech\": \"No hay datos de humedad del suelo disponibles en este momento.\",\n        \"error\": \"No soil data\",\n        \"timestamp\": Date.now()\n    };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst speech = `La humedad del suelo del invernadero es del ${Math.round(soil)} por ciento.`;\n\nmsg.payload = {\n    \"speech\": speech,\n    \"soil\": soil,\n    \"unit\": \"%\",\n    \"timestamp\": Date.now()\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 340,
    "wires": [["http_response_soil", "debug_soil_response"]]
  },
  {
    "id": "debug_soil_response",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Respuesta Suelo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 340,
    "wires": []
  },
  {
    "id": "fn_get_tank",
    "type": "function",
    "z": "tab_google_home",
    "name": "Obtener nivel tanque",
    "func": "// SOLO LECTURA - Compatible con ambos formatos\nlet tank;\n\n// Intentar formato nuevo primero\nconst lastTank = flow.get('last_tank');\nif (lastTank) tank = lastTank.value;\n\n// Si no hay datos en formato nuevo, intentar formato antiguo\nif (tank === undefined) {\n    const node4 = flow.get('last_node4') || {};\n    tank = node4.tank || node4.value;\n}\n\nif (tank === undefined) {\n    msg.payload = {\n        \"speech\": \"No hay datos del nivel del tanque disponibles en este momento.\",\n        \"error\": \"No tank data\",\n        \"timestamp\": Date.now()\n    };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst speech = `El nivel del tanque del invernadero est치 al ${Math.round(tank)} por ciento.`;\n\nmsg.payload = {\n    \"speech\": speech,\n    \"tank\": tank,\n    \"unit\": \"%\",\n    \"timestamp\": Date.now()\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 400,
    "wires": [["http_response_tank", "debug_tank_response"]]
  },
  {
    "id": "debug_tank_response",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Respuesta Tanque",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 400,
    "wires": []
  },
  {
    "id": "fn_get_light",
    "type": "function",
    "z": "tab_google_home",
    "name": "Obtener iluminaci칩n",
    "func": "// SOLO LECTURA - Compatible con ambos formatos\nlet light;\n\n// Intentar formato nuevo primero\nconst lastLight = flow.get('last_light');\nif (lastLight) light = lastLight.value;\n\n// Si no hay datos en formato nuevo, intentar formato antiguo\nif (light === undefined) {\n    const node3 = flow.get('last_node3') || {};\n    light = node3.light || node3.value;\n}\n\nif (light === undefined) {\n    msg.payload = {\n        \"speech\": \"No hay datos de iluminaci칩n disponibles en este momento.\",\n        \"error\": \"No light data\",\n        \"timestamp\": Date.now()\n    };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst speech = `La iluminaci칩n del invernadero es de ${Math.round(light)} unidades.`;\n\nmsg.payload = {\n    \"speech\": speech,\n    \"light\": light,\n    \"unit\": \"ADC\",\n    \"timestamp\": Date.now()\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 460,
    "wires": [["http_response_light", "debug_light_response"]]
  },
  {
    "id": "debug_light_response",
    "type": "debug",
    "z": "tab_google_home",
    "name": "游댌 Debug: Respuesta Iluminacion",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 460,
    "wires": []
  },
  {
    "id": "http_response_status",
    "type": "http response",
    "z": "tab_google_home",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 160,
    "wires": []
  },
  {
    "id": "http_response_temperature",
    "type": "http response",
    "z": "tab_google_home",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 220,
    "wires": []
  },
  {
    "id": "http_response_humidity",
    "type": "http response",
    "z": "tab_google_home",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 280,
    "wires": []
  },
  {
    "id": "http_response_soil",
    "type": "http response",
    "z": "tab_google_home",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 340,
    "wires": []
  },
  {
    "id": "http_response_tank",
    "type": "http response",
    "z": "tab_google_home",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 400,
    "wires": []
  },
  {
    "id": "http_response_light",
    "type": "http response",
    "z": "tab_google_home",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 460,
    "wires": []
  }
]
