infra/nodered/flows/greenhouse_v0.1.json
[
  {
    "id": "tab_greenhouse_v01",
    "type": "tab",
    "label": "Greenhouse v0.1 (Sim + Rules)",
    "disabled": false,
    "info": ""
  },
  {
    "id": "broker_mosquitto_service",
    "type": "mqtt-broker",
    "name": "mosquitto (docker service)",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-greenhouse",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },

  {
    "id": "inj_tick",
    "type": "inject",
    "z": "tab_greenhouse_v01",
    "name": "Sim tick (cada 15s)",
    "props": [{ "p": "payload" }],
    "repeat": "15",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 80,
    "wires": [["fn_simulate"]]
  },
  {
    "id": "fn_simulate",
    "type": "function",
    "z": "tab_greenhouse_v01",
    "name": "Simular node1..4 (telemetry)",
    "func": "const ts = Date.now();\nfunction clamp(v,min,max){return Math.max(min,Math.min(max,v));}\nfunction jitter(base, delta){return base + (Math.random()*2-1)*delta;}\n\n// Demo: valores realistas\nconst temp  = clamp(jitter(24, 2),  15, 40);\nconst hum   = clamp(jitter(55, 8),  20, 90);\nconst soil  = clamp(jitter(38, 10),  0, 100);\nconst tank  = clamp(jitter(45, 12),  0, 100);\nconst light = clamp(jitter(450, 180), 0, 1023);\n\nreturn [[\n  { topic:'greenhouse/node1/telemetry', payload:{ts, temp, hum} },\n  { topic:'greenhouse/node2/telemetry', payload:{ts, soil, unit:'%'} },\n  { topic:'greenhouse/node3/telemetry', payload:{ts, light, unit:'adc'} },\n  { topic:'greenhouse/node4/telemetry', payload:{ts, tank, unit:'%'} }\n]];",
    "outputs": 1,
    "x": 460,
    "y": 80,
    "wires": [["mqtt_out_tele"]]
  },
  {
    "id": "mqtt_out_tele",
    "type": "mqtt out",
    "z": "tab_greenhouse_v01",
    "name": "Publish telemetry",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "broker_mosquitto_service",
    "x": 720,
    "y": 80,
    "wires": []
  },

  {
    "id": "mqtt_in_tele",
    "type": "mqtt in",
    "z": "tab_greenhouse_v01",
    "name": "Sub telemetría",
    "topic": "greenhouse/+/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "broker_mosquitto_service",
    "x": 170,
    "y": 190,
    "wires": [["fn_store_last", "dbg_tele"]]
  },
  {
    "id": "fn_store_last",
    "type": "function",
    "z": "tab_greenhouse_v01",
    "name": "Guardar últimas muestras",
    "func": "const node = msg.topic.split('/')[1];\nflow.set('last_'+node, msg.payload);\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 190,
    "wires": [["fn_rules"]]
  },
  {
    "id": "fn_rules",
    "type": "function",
    "z": "tab_greenhouse_v01",
    "name": "Reglas AUTO (riego/luz) + alertas",
    "func": "const ts = Date.now();\n\n// Decisiones v0.1 (ajustables luego con el equipo)\nconst SOIL_DRY  = 30;\nconst TANK_LOW  = 15;\nconst LIGHT_LOW = 300;\n\n// Modo (por defecto AUTO)\nconst mode = flow.get('mode') || 'AUTO';\n\nconst soil  = (flow.get('last_node2')||{}).soil;\nconst tank  = (flow.get('last_node4')||{}).tank;\nconst light = (flow.get('last_node3')||{}).light;\n\nlet out = [];\nif(mode === 'AUTO'){\n  // RIEGO\n  if(typeof soil === 'number' && typeof tank === 'number'){\n    if(soil < SOIL_DRY && tank > TANK_LOW){\n      out.push({\n        topic:'greenhouse/node5/cmd/irrigation',\n        payload:{ts, state:'ON', duration_s:10, reason:'soil_low', source:'nodered'}\n      });\n    } else if(soil < SOIL_DRY && tank <= TANK_LOW){\n      out.push({\n        topic:'greenhouse/alerts',\n        payload:{ts, level:'WARN', msg:'Suelo seco pero tanque bajo: no se riega', context:{soil, tank}}\n      });\n    }\n  }\n\n  // LUZ\n  if(typeof light === 'number'){\n    if(light < LIGHT_LOW){\n      out.push({\n        topic:'greenhouse/node5/cmd/light',\n        payload:{ts, state:'ON', reason:'low_light', source:'nodered'}\n      });\n    }\n  }\n}\n\nreturn [out.length ? out : null];",
    "outputs": 1,
    "x": 690,
    "y": 190,
    "wires": [["mqtt_out_cmds", "dbg_cmds"]]
  },
  {
    "id": "mqtt_out_cmds",
    "type": "mqtt out",
    "z": "tab_greenhouse_v01",
    "name": "Publish CMDs / alerts",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "broker": "broker_mosquitto_service",
    "x": 980,
    "y": 170,
    "wires": []
  },

  {
    "id": "dbg_tele",
    "type": "debug",
    "z": "tab_greenhouse_v01",
    "name": "telemetry (debug)",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 430,
    "y": 240,
    "wires": []
  },
  {
    "id": "dbg_cmds",
    "type": "debug",
    "z": "tab_greenhouse_v01",
    "name": "cmd/alerts (debug)",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "targetType": "full",
    "x": 980,
    "y": 230,
    "wires": []
  }
]
